<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Videos - Chompy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/sakura-dark.css" type="text/css">

  <style>
    body {
      min-width: 70%;
    }
    li {
      display: flex;
      justify-content: space-between;
    }
    .created {
      flex-shrink: 0;
    }
  </style>
</head>

<body>
  <h2>Chompy Videos</h2>
  <hr />

  {{if .}}
  <p>{{len .}} videos found</p>
  <ul>
    {{range .}}
    <li>
      <span>
        <a href="{{escape .Filename}}">{{.Filename}}</a>
      </span>
      <span class="created">{{.Created.Format "Jan _2 15:04"}}</span>
    </li>
    {{end}}
  </ul>
  {{else}}
  <p>No videos</p>
  {{end}}

</body>

</html>
